body{
	background-image: url(../img/photo-1496412705862-e0088f16f791.jpg);
	background-position: center;
	background-size: cover;
}
#formulario{
	margin: 15%;
	border-radius: 7px;
	padding: 5%;
	background-color: rgba(0, 0, 255, .6);
}